{% extends 'base.html' %}
{% load form_tags %}

{% block title %}Generar Reporte – Aediles{% endblock %}

{% block content %}
  <h1>Generar Reporte</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <!-- Metadatos -->
    <div class="form-group">
      {{ form.fecha.label_tag }}
      {{ form.fecha|add_class:"form-control" }}
      {{ form.fecha.errors }}
    </div>
    <div class="form-group">
      {{ form.nombre.label_tag }}
      {{ form.nombre|add_class:"form-control" }}
      {{ form.nombre.errors }}
    </div>
    <div class="form-group">
      {{ form.parque.label_tag }}
      {{ form.parque|add_class:"form-control" }}
      {{ form.parque.errors }}
    </div>

    <hr>

    <!-- Inspecciones y Comentarios -->
    {% for field in form.visible_fields %}
      {% if field.name not in 'fecha nombre parque' %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field|add_class:"form-control" }}
          {{ field.errors }}
        </div>
      {% endif %}
    {% endfor %}

    <button type="submit" class="btn-primary">Generar Informe</button>
  </form>
{% endblock %}